.side-bar
  .side-bar_user-name
    .side-bar_user-name_top-items
      .side-bar_user-name_top-items__name
        Naomi Scott
      .side-bar_user-name_top-items__name__parent
        .side-bar_user-name_top-items__parent__icon
          .side-bar_user-name_top-items__parent__icon-child__icon1
            = link_to "", class: "contents__btn-1" do
              = icon('fas','edit')
          .side-bar_user-name_top-items__parent__icon-child__icon2
            =link_to "", class: "contents__btn-2" do
              = icon('fas','cog')
  .side-bar__group-list